{% extends "base.html" %}

{% block content %}
			<h1>Redneck Hot Tub Controller - About</h1>
			<div align=center>
				<table class="styled-table">
					<thead>
						<tr>
							<td rowspan="1" colspan="2"><b>Application Details </b></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Author</td>
							<td>Mark Rogers</td>
						</tr>
						<tr>
							<td>Date</td>
							<td>10-06-2021</td>
						</tr>
						<tr>
							<td>Version</td>
							<td>1.0</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>admin@code-defined.com</td>
						</tr>
					</tbody>
			</table>
			</div>
{% endblock %}