{% extends "base.html" %}

{% block content %}
			<h1>Redneck Hot Tub Controller - Control Panel</h1>
			<p>To protect the hot during freezing weather, be you sure to set the appropriate
			temperatures in the control panel. The temperature settings for when the Spa heater
			initially turns on should be set to a temperature that allows the heater to 
			prevent water from freezing. This can be determined based on the water volume of 
			of the spa, the water volume being moved by the Spa pump, and the temperature the
			hot water being introduced to the Spa from the hot water inlet.</p>
			
			<p>The temperature settings for when the Spa heater turns off when not in use should
			be set to a temperature above freezing, and the Spa heater can maintain keeping the
			water below freezing. It might seem obvious, but we do not recommend setting your 
			spa’s temperature at 85°F (29°C) or turning the heater off during the winter if 
			you live in a cold climate. Also setting the energy savings will be offset by the 
			potential cost of replacing burst pipes and damaged hardware.</p>
			
			<p>When using the hot tub enable a setpoint and select the temperature to be maintained 
			during usage. Even though this application can maintain the water temperature, 
			keep a separate thermometer handy or floating in the hot tub. You’ll be able to 
			quickly and easily confirm your spa’s temperature.</p>
			
			<p><a class="btn btn-primary float-none" href="/protection">Edit Protection settings &rarr;</a></p>
    		<p><a class="btn btn-primary float-none" href="/schedule">View Schedule &rarr;</a></p>

{% endblock %}
