{% extends "base.html" %}

{% block content %}
			<h1>Redneck Hot Tub Controller - Help</h1>
			<p>To protect the hot during freezing weather, be you sure to set the appropriate
			temperatures in the control panel. The temperature settings for when the Spa heater
			initially turns on should be set to a temperature that allows the heater to 
			prevent water from freezing. This can be determined based on the water volume of 
			of the spa, the water volume being moved by the Spa pump, and the temperature the
			hot water being introduced to the Spa from the hot water inlet.</p>
			
			<p>The temperature settings for when the Spa heater turns off when not in use should
			be set to a temperature above freezing, and the Spa heater can maintain keeping the
			water below freezing. It might seem obvious, but we do not recommend setting your 
			spa’s temperature at 85°F (29°C) or turning the heater off during the winter if 
			you live in a cold climate. Also setting the energy savings will be offset by the 
			potential cost of replacing burst pipes and damaged hardware.</p>
			
			<p>When using the hot tub enable a setpoint and select the temperature to be maintained 
			during usage. Even though this application can maintain the water temperature, 
			keep a separate thermometer handy or floating in the hot tub. You’ll be able to 
			quickly and easily confirm your spa’s temperature.</p>
			
			<p><b>Hot Tub Guidelines</b></p>
			
			<i><p>The hot tub temperature should be set to not exceed the Centers for Disease Control 
			and Prevention (CDC) recommended temperature of 104° F (40° C).</p>
			<p>The CDC strongly recommends that kids under the age of five stay out of 
			hot tubs.</p>
			<p>Older children should be limited to soak time of five minutes or less, and avoid 
			full immersion. Use a timer to make sure they don’t stay in the water longer than 
			they should.</p></i>

{% endblock %}




















